* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.home {
  color: white;
  height: 120vh;
  line-height: 2em;
  background-image: linear-gradient(
      to right bottom,
      rgba(10, 37, 59, 0.95),
      rgba(53, 74, 81, 0.95)
    ),
    url(./img/background.jpeg);
  background-size: cover;
  background-position: top;
}

.ico {
  padding-top: 20px;
}

.token-grid {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
}

.token-info {
  padding-bottom: 30px;
}

.token-buy-input {
  padding-top: 10px;
}
